@import "../../node_modules/normalize.css/normalize"
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap"
@import url(https://fonts.googleapis.com/css?family=Fira+Sans)
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.css)

/* forced CSS reset in addition to Normalize */
*
  vertical-align: baseline
  font-weight: inherit
  font-family: inherit
  font-style: inherit
  font-size: 100%
  border: 0 none
  outline: 0
  padding: 0
  margin: 0

/* styling variables */
$titleFont: Fira Sans

/* theme colors */
$tan: #dddfd4
$yell: #fae596
$teal: #86D0B2
$blu: #3fb0ac
$bludrk: #173e43

body
  background-color: $yell

/* Header styling-------------------------------------------------------- */
.navbar
  background-color: $teal

/* Sticky footer styles-------------------------------------------------- */
html
  position: relative
  min-height: 100%

body
  /* Margin bottom by footer height */
  margin-bottom: 40px

.footer
  position: absolute
  bottom: 0
  width: 100%
  /* Set the fixed height of the footer here */
  height: 40px
  background-color: $tan

/* Custom page CSS-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container
  padding: 40px 15px 0

.container .text-muted
  margin: 10px 0

.footer > .container
  padding-right: 15px
  padding-left: 15px

code
  font-size: 80%
