@import "normalize.css/normalize"

/* forced CSS reset in addition to Normalize */
*
  vertical-align: baseline
  font-weight: inherit
  font-family: inherit
  font-style: inherit
  font-size: 100%
  border: 0 none
  outline: 0
  padding: 0
  margin: 0

body
  background-color: #2F2C20
  color: #F7E7E3

header
  position: fixed
  top: 0
  width: 100%
  height: 100px
  background-color: #D9CC66
  color: #2F2C20

  h1
    padding: 0px
    margin: 50px 25px 0px
    font-size: 50px
    line-height: 50px
    text-align: left

main


footer
  position: fixed
  bottom: 0
  height: 50px
  width: 100%
  background-color: #D9CC66
